body{
    margin: 0;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.box{
    color: white;
    background-color: black;
    width: 200px;
    height: 200px;
}

.div2{
   align-self: center;
}

.div3{
    align-self: end;
}